
.container {
  width: 800px;
  margin: 0 auto;

  .addBook {
    margin-top: 100px;
    float: mid;
    width: 200px;
    height: 50px;
    color: red;
    text-align: bottom;
    line-height: 15px;
    font-size: 150%;
  }

}
