.container {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;

  .headerContainer {
    margin-top: 10px;
    padding-top: 16px;
    //padding-bottom: 16px;
    border-radius: 2px;
    //margin-bottom: 20px;

    .type{
      font-size: 2rem;
      font-family: Merriweather;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }

    .peopleHeading{
      float: right;
      font-size: 2rem;
      font-family: Merriweather;
      margin: 0;
      padding: 0;
    }

  }

  .insuranceContainer{
    //margin-top: 10px;
    //padding-top: 16px;
    //padding-bottom: 16px;
    //border-radius: 2px;
    //margin-bottom: 20px;

    .priceWrapper {
      padding-top: 70px;
      display: block;
      float: left;
    }

    .price {
      font-size: 6rem;
      font-family: Merriweather;
      font-weight: bold;
      margin-top: 20px;
    }

    .priceExtra {
      color: #aaa;
      font-size: 2rem;
      font-family: Merriweather;
      font-weight: bold;
      margin-top: 20px;
    }



    .simPicture{
      margin-top: 40px;
      float: right;
      margin-left: 8px;
      //filter: grayscale(100%);

      //&:hover{
        //filter: grayscale(0%);
      //}
    }

    .bottom {
    }

    .popup{
    }
  }

  .btnWrapper {
    padding-top: 10px;

    .buyButton{
    }
  }

  .cite {
    line-height: 2rem;
    font-size: 1.4rem;
    font-family: Merriweather;
    margin-top: 150px;
    display: block;
    width: 100%;
    background-color: #efefef;
    border-radius: 10px;
    padding: 20px;
  }

}
