.root {
  width: 800px;
  margin: 0 auto;

  .ginger {
    margin-top: 20px;
  }

  .imageWrapperRow {
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    margin-left: -105px;
  }

  .imageWrapper {
    margin-left: 20px;
    width: 150px;
    display: flex;
    flex-direction:column;
  }

  .personal {
    margin: 50px auto;
    margin-bottom: 100px;
    text-align: center;

    .name {
      font-family: Merriweather;
      margin-top: 10px;
      font-size: 3rem;
    }

    .welcome {
      font-weight: normal;
      font-family: Merriweather;
      color: #aaa;
      font-size: 3rem;
    }
  }

  .continueBtn {
    margin-top: 20px;
    float: right;
  }

  .infoSection {
    margin-top: 50px;

    h2 {
      font-size: 2rem;
      font-family: Merriweather;
      font-weight: 300!important;
      margin-bottom: 20px;
    }

    .divider {
      margin-top: 5px;
    }

  }

  .runningEmoji {
    width: 80px;
    height: 80px;
    background-image: url('../../../assets/running_emoji.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .sunEmoji {
    width: 80px;
    height: 80px;
    background-image: url('../../../assets/sun_emoji.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .homeEmoji {
    width: 80px;
    height: 80px;
    background-image: url('../../../assets/home_emoji.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .vacationEmoji {
    width: 80px;
    height: 80px;
    background-image: url('../../../assets/vacation_emoji.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .deviceEmoji {
    width: 80px;
    height: 80px;
    background-image: url('../../../assets/device_emoji.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .injuryEmoji {
    width: 80px;
    height: 80px;
    background-image: url('../../../assets/injury_emoji.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .familyEmoji {
    width: 80px;
    height: 80px;
    background-image: url('../../../assets/family_emoji.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .greetingEmoji {
    width: 80px;
    height: 80px;
    background-image: url('../../../assets/greeting_emoji.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .helperText {
    font-weight: normal;
    font-size: 1em;
    text-align: right;
  }

  .lifestyleContainer {
    margin-top: 5px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 2px;

    &:hover {
      background-color: #f0f0f0;
    }
  
  }

  .entityContainer {
    margin-top: 5px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 2px;

    &:hover {
      background-color: #f0f0f0;
    }

    .entity{
      padding: 8px;
      margin-left: 8px;
      font-weight: bold;
      border-radius: 2px;
      background-color: #aaa;
      color: white;
    }

    .freq {
      margin-left: 10px;
      color: #aaa;
    }
  }

}
